---
const { content } = Astro.props;
import { supportedLanguages } from "../utils/languageUtils";
import { PostsTagsDefault } from "../utils/postUtils";
---

<html lang={content.lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={PostsTagsDefault[0].img} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Dvelog" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content={Astro.url.pathname} />
    <meta property="og:image" content="/blog-icons/bgimg-seo-home.png" />

    <meta name="twitter:title" content="My Portfolio" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="/blog-icons/bgimg-seo-home.png" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:image:alt" content="My portfolio" />
    <meta property="og:site_name" content="Dev log portfolio" />
    <title>{content.title}</title>
  </head>
  <body>
    <slot name="hero" />
    <div class="w-full flex justify-center space-x-2 pt-10">
      {
        supportedLanguages.map((l, index) => {
          return (
            <>
              <a
                href={`/${l.key}/${content.urlSuffix ?? ""}`}
                class:list={[{ "text-red-500": content.lang == l.key }]}
              >
                {l.value}
              </a>
              <span>
                {index < supportedLanguages.length - 1 ? <span>|</span> : ""}
              </span>
            </>
          );
        })
      }
    </div>
    <slot name="top-head" />
    <div class="px-3 sm:px-5 md:px-10 lg:px-10 pt-10">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
  * {
    font-family: "Poppins", sans-serif;
  }
</style>
